/* ---------------NAVBAR-------------- */
body {
    font-family: 'Noto Sans TC', sans-serif;
}

.page-header {
    font-size: 1.2rem;
    box-shadow:0 0 3px rgba(14, 14, 14, 0.26);
    height: 72px;
}

.navbar {
    height: 72px;

}

.navbar-list {
    margin: 0 0 0 0;
    width:55%;
}

.navbar-list li {
    display: inline-block;
    margin-right: 20px;
}

.navbar-list .link-item {
    color:#343a40;
    text-decoration: none;
    border-bottom: 2px solid rgb(84, 138, 108) transparent;
    padding-bottom: 3.5px;
    position: relative; 
}

.navbar-list .link-item:hover{
    border-bottom: 2px solid rgb(84, 138, 108);
    /* border-bottom-width: 1; */
    transition: all 0.13s linear;
}

.navbar-list .link-item::before{
    content: '';
	position: absolute;
	top: 0;
	left: 0;  
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	background-color: rgba(0,0,0,0.2);
	transition: all 0.4s;
	transform: scale(0.5, 1);
}

.navbar-list .link-item:hover::before{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}

.navbar .search-input{
    height:34px;
}

.navbar input {
    border-radius: 1rem;
    outline: none;
    padding-left: 15px;
    height: 100%;
}


/* -------------BOARD------------------- */
.board {
    margin-top:105px;
}

.board .avatar {
    position: fixed;
    right: 0;
    top:100px;
    width: 15%;
    background-color: #20b2aa33;
    border-radius: 10%;
}

.avatar .my-picture{
    width: 60%;
    border-radius: 50%;
}

.avatar .avatar-body{
    font-size:1.2rem ;
}
.avatar-body ul {
    background-color: #ffffff00;
}

.avatar-body ul li {
    margin-top: 1rem;
    list-style: none;
}

.avatar-body ul li a {
    text-decoration: none;
    color: #4d6884;
}

.article-column {
    width:90%;
    margin-left:5%;
    margin-bottom:15px;
}


.article-column h1 {
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
    margin-bottom: 30px;
    width:fit-content;
}

.article-item {
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    width:65%;
}

.list-item {
    width: 60%;
    margin-left: 5%;
    margin-bottom: 10px;
    box-shadow: 0 0.8px 0 rgba(0,0,0,0.2);
}


.list-item .list-title {
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.list-title {
    box-shadow: 0 3px 0 rgba(0,0,0,0.2);
}

.article-title {
    font-weight: bold;
    font-size: 1.6rem;
    text-decoration: none;
    color: black;
}

.article-link {
    width: 80px;
    font-size: 0.8rem;
}

.pages {
    width: 100%;
    margin-left: 5%;
    margin-bottom: 15px;
}

.pages .previous-page, .next-page{
    /* border-radius: 50%; */
    border: none;
    margin-right: 15px;
    /* background-color: #F9F5F3; */
    width: 90px;
    font-size: 0.8rem;
}

.pages .previous-page {
    margin-right:30%;
}

/*------------------------------ notes content -----------------*/
.note-content{
    text-align: left;
    letter-spacing: 0.5px;
    width:100%;
    background-color: #fff;
    border-radius: 5px;
    border: 3px solid #b9f9b9;
    padding-top: 10px;
}

.note-content h4 {
    font-size: 1.2rem;
    width:90%;
    line-height: 1.6;
    margin-left: 1%;
    color:#666;
}

.note-content h2 {
    font-size: 1.6rem;
    width:fit-content;
    border-left: 3px solid rgb(243, 117, 117);
    padding-left: 3px;
}

.note-content p {
    width: 80%;
}

.note-content ol, .note-content ul{
    background-color: #f7f6f6;
    width: fit-content;
    line-height: 1.8;
    border:1px solid rgb(165, 165, 101)
}

.note-content ol li {
    margin-right:15px;
}

.note-content ul li {
    margin-right:15px;
}

pre {
    width:80%;
    background-color: #332f2f;
    color:#eff2f5;
    margin: 20px 20% 20px 0;
    text-align: left;
    padding-left: 2%;
}

p code {
    background-color: #e2e8f9;
}

pre code{
    font-size: 0.8rem;
}

pre code .hljs-comment {
    color: rgb(161, 197, 161);
}

pre code .hljs-built_in {
    color: aquamarine;
}

pre code .hljs-keyword {
    color: sandybrown;
}

pre code .hljs-string {
    color: mediumvioletred;
}

.note-content h4 code {
    color: #ec6969;
    font-size: 1.2rem;    
}

/* --------------footer------------------ */

.foot {
    /* position: absolute; */
    height: 60px;
    bottom: 0px;
    left: 0px;
}
