.Note {
    position: absolute;
    top: var(--navbar-height);
    left: var(--sidebar-width);
    padding: 0 2rem 5rem 2rem;
    width: calc(100% - var(--sidebar-width));
    min-height: calc(100vh - var(--navbar-height) );
    font-size: inherit !important;
}

.Note div{
    width: 90%;
    margin:auto;
}


@media (max-width: 768px) {
    .Note {
        width: 100%;
        left: 0;
    }

    .Note p{
        width: 100%;
    }
}