.About {
    top: var(--navbar-height);
    position: absolute;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    min-height: calc(100vh - var(--navbar-height));
    background-image: linear-gradient(to right bottom, var(--color-light--2), rgb(13 17 20 / 65%)), url('../../assets//images/christopher-gower-m_HRfLhgABo-unsplash.jpg');
    background-size: cover;
    background-position: bottom;
}

.Name {
    text-align: center;
    color: var(--color-dark--2);
}

.Story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgb(255 255 255 / 30%);
    background-color: rgb(255 255 255 / 50%);
    border-radius: 5px;
    font-size: 1.6rem;
    -webkit-transform: skewX( -12deg);
    -ms-transform: skewX(-12deg);
    transform: skewX( -12deg);
}

.ImgContainer {
    float: left;
    transform: translateX(-3rem) skewX( 12deg);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
}

.ImgContainer .Me {
    height: 100%;
    filter: brightness(1.2);
}

.Content {
    margin: 1rem auto;
    width: 80%;
    border-radius: 1rem;
    transform: skewX( 12deg);
    padding: 1.5rem;
    line-height: 1.8;
    font-size: 1.2rem;
    letter-spacing: .5px;
}

@media(max-width:768px) {
    .About {
        left: 0;
        width: 100%;
        background-image: linear-gradient(to right bottom,var(--color-light--2), rgb(13 17 20 / 65%)), url('../../assets/images/gabriel-beaudry-5X5dCf4Pp44-unsplash.jpg');        
        background-position: top;
    }
}