.Navbar {
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: rgb(74 97 198);
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    font-size: 1.2rem;
}

.Logo {
    margin: 0 1.5rem;
    text-align: center;
    color: #e3e3e3;
    transition: .5s all;
}

.HomeIcon {
    font-size: 2rem;
    color: white;
    align-items: center;
    text-decoration: none;
    margin:0 1rem;
    display: none;
}

.Logo:hover {
    filter: brightness(150%);
    transform: scale(1.05);
}

.Logo a {
    text-decoration: none;
    color: inherit;
}

.SignoutButton {
    border: none;
    border-radius: 5px;
    margin: 0 1rem;
    background-color: #f8bb22;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

@media (max-width:768px) {
    .Logo {
        display: none;
    }
    .HomeIcon {
        display: flex;
    }
}