.Hamburger {
    width: 25px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 60%;
    cursor: pointer;
    display: none;
    margin: 0 1rem;
}

.Hamburger .Line {
    border-bottom: 2px solid whitesmoke;
}

@media (max-width:768px) {
    .Hamburger {
        display: flex;
        order: 1;
        flex-shrink: 0;
    }
}