.Home {
    padding: 0 1rem 5rem 1rem;
    background-color: var(--color-brand--2);
}

.Container {
    margin: 0 auto;
    width: 95%;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Header h1 {
    background-image: linear-gradient(to right bottom, var(--color-brand--1), var(--color-dark--2));
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: 2px;
    color: transparent;
}


.Header a {
    font-size: 3rem;
    color: rgb(74 97 198);
    text-decoration: none;
    margin-right: 2rem;
    transition: all .3s;
}
.Header a:hover{
    transform: scale(1.2);
}

.Subject {
    border: 2px solid var(--color-brand--1);
    border-radius: 10px;
    padding: 0 1rem;
    min-height: 10rem;
    width: 85%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    transition: .5s all;
}

.Subject:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.219);
}

.Subject .Title {
    font-size: 1.5rem;
    margin: 5px 0;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-dark--2);
}

.Subject:hover .Title {
    text-decoration: underline;
    color: var(--color-dark--3);
}

.Subject .Date {
    font-size: .8rem;
    color: var(--color-dark--1);
}

.Subject .Desc {
    font-size: 1rem;
}

@media(max-width:768px) {
    .Home {
        left: 0;
        width: 100%;
    }

    .Subject {
        width: 100%;
    }
}