.SideBar {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--color-dark--3);
    color: var(--color-light--2);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    z-index: 999;
    font-size: .8rem;
}

.SideBar::-webkit-scrollbar {
    width: 5px;
}

.SideBar::-webkit-scrollbar-thumb {
    background-color: #8b93df;
}

.Subject {
    width: 100%;
}

.Subject .Title {
    padding: .5rem;
    cursor: pointer;
    transition: background-color .3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Subject .Title:hover {
    background-color: var(--color-brand--2);
    box-shadow: 0px 1rem 2rem #1818187c;
}

.List {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    max-height: 0;
    flex-direction: column;
    align-items: center;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out 0s;
}

.Show {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
}

.List li {
    cursor: pointer;
    width: 100%;
    background-color: var(--color-light--3);
    text-align: left;
    transition: .2s all;
}

.List li:hover {
    background-color: var(--color-light--2);
}

.List li a {
    text-decoration: none;
    color: var(--color-dark--2);
    height: 2.5rem;
    width: 100%;
    padding: .6rem;
    padding-left: 1.5rem;
    display: block;
}
.List li:hover a {
    color: var(--color-brand--1);
    text-decoration: underline;
}

@media (max-width:768px) {
    .SideBar {
        visibility: hidden;
        height: 0;
        width: 100%;
        left: 100%;
        transform: translateX(-100%);
        overflow: auto;
        opacity: 0;
    }
    .ShowSideBar {
        opacity: 1;
        height: 60vh;
        visibility: visible;
    }
    .List li {
        text-align: center;
    }
}

@keyframes expand {
    0% {
        height: 0;
    }
    75% {
        height: 10rem;
    }
    100% {
        height: auto;
    }
}