.SideBar {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--color-dark--2);
    color: var(--color-light--2);
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    z-index: 999;
    font-size: .8rem;
}

.SideBar::-webkit-scrollbar {
    width: 5px;
}

.SideBar::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    background-color: var(--color-light--2);
    border-radius: 10px;
}

.SideBar::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--color-dark--2);
    /* background-color: var(--color-dark--1); */
}

.Subject {
    width: 100%;
}

.Subject .Title {
    padding: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .5s;
}



.Subject .Title:hover {
    background-color: var(--color-orange--1);
    color: var(--color-dark--2);
    box-shadow: 0px 1rem 2rem #1818187c;
}


.Subject img {
    transition: all .8s;
    height: 0;
    opacity: 0;
    margin-right: .5rem;
}

.List {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    max-height: 0;
    flex-direction: column;
    align-items: center;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all .3s ease-in-out 0s;
}

.Show {
    visibility: visible;
    opacity: 1;
    max-height: 1000px;
}

.List li {
    cursor: pointer;
    width: 100%;
    background-color: var(--color-brand--2);
    text-align: left;
    font-size: 12px;
    box-shadow: 0 1px 2px black;
    transition: .2s all;
}

.List li:hover {
    background-color: var(--color-light--2);
}

.List li a {
    text-decoration: none;
    color: var(--color-dark--2);
    width: 100%;
    padding: .6rem;
    display: block;
}

.List li:hover a {
    color: var(--color-brand--1);
    text-decoration: underline;
}

@media (max-width:768px) {
    .SideBar {
        visibility: hidden;
        height: 0;
        width: 100%;
        left: 100%;
        transform: translateX(-100%);
        overflow: auto;
        opacity: 0;
    }

    .ShowSideBar {
        opacity: 1;
        height: 60vh;
        visibility: visible;
    }

    .List li {
        text-align: center;
    }
}

@keyframes expand {
    0% {
        height: 0;
    }

    75% {
        height: 10rem;
    }

    100% {
        height: auto;
    }
}