.Footer {
    width: 100% !important;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    font-size: .8rem;
    justify-content: space-around;
}

.Footer h3 a, .Footer h3 a:active {
    color: darkorange;
    text-decoration: none;
}

.Utils {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}