.lazy-loader {
  position: absolute;
  top: var(--navbar-height);
  left: var(--sidebar-width);
  padding: 0 2rem 5rem 2rem;
  width: calc(100% - var(--sidebar-width));
  min-height: calc(100vh - var(--navbar-height));
  font-size: inherit !important;
}

.checkbutton {
  z-index: 9000;
  background-color: orangered;
  position: absolute;
  left: 50%;
  top: 200px;
}