:root {
    --color-brand--1: #05aa5d;
    --color-brand--2: #00c46a;
    --color-dark--1: #2d3439;
    --color-dark--2: #42484d;
    --color-dark--3: #595f64;
    --color-light--1: #aaa;
    --color-light--2: #ececec;
    --color-light--3: rgb(226, 226, 226);
    --median-screen: 48em;
    --navbar-height: 3.5rem;
    --sidebar-width: 12rem;
}

* {
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background-color: var(--color-dark--2);
}
body::-webkit-scrollbar-thumb {
    background-color: #8b93df;
}


@media(max-width:1024px) {
    html {
        font-size: 80%;
    }
}
@media(max-width:768px) {
    html {
        font-size: 65%;
    }
}